{% extends "base/default.html" %}

{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="jumbotron py-4 text-center ads-book mt-3 d-flex flex-row justify-content-between">
        <div></div>
        <div>The Two Peas & Their Pod Cookbook is here. <a href="bit.ly/2TJmXMQ">Order Now!</a></div>
        <img class="img-fluid" src="{% static 'image/book-cover-small.jpg' %}"
             alt="" width="80">
    </div>
    <div class="row">
        {% for dish in page_obj.object_list %}
            <div class="col-lg-3 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="{% url 'dish_detail' dish.pk %}" class="link-decoration-none">
                        {% if dish.image %}
                            <img class="card-img-top"
                                 src="/media/{{ dish.image|default:'default.jpg' }}"
                                 alt="No image"
                            >
                        {% elif dish.image_url %}
                            <img class="card-img-top" src="{{ dish.image_url }}" alt="No image">
                        {% else %}
                            <img class="card-img-top"
                                 src="{% static 'image/default.jpg' %}"
                                 alt="No image"
                            >
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'dish_detail' dish.pk %}"
                               class="link-decoration-none">
                                {{ dish.dish_name }}
                            </a>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Ratings: {{ dish.score }}/5</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mb-4">
        <div class="pagination d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-primary" href="?page=1">&laquo; first</a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                <button class="btn btn-secondary" disabled>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </button>
            </span>

            {% if page_obj.has_next %}
                <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        </div>
    </div>
{% endblock %}