{% extends "base/default.html" %}

{% load static %}

{% block title %}User's Profile{% endblock %}

{% block content %}
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#info">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#recipes">
                    Recipes <span class="badge badge-primary badge-pill">{{ recipes.count|default:0 }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menus">
                    Menus <span class="badge badge-primary badge-pill">{{ menus.count|default:0 }}</span>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="info">
                <div class="row justify-content-between m-5">
                    <div class="col-12 col-sm-3">
                        {% if user.user.gender %}
                            <img src="{% static 'image/male.png' %}" alt="" class="img-fluid rounded-circle">
                        {% else %}
                            <img src="{% static 'image/female.png' %}" alt="" class="img-fluid rounded-circle">
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-7">
                        <table class="table ta table-hover">
                            <tr>
                                <th>Full name:</th>
                                <td>{{ user.last_name }} {{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Birthday:</th>
                                <td>{{ user.user.birthday|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <th>Gender:</th>
                                <td>{{ user.user.gender|yesno:"Male, Female" }}</td>
                            </tr>
                            {% if request.user.is_staff %}
                                <tr>
                                    <th>Status:</th>
                                    <td>
                                        {% if user.is_active %}
                                            <span class="text-success">Active</span>
                                        {% else %}
                                            <span class="text-danger">Inactive</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                        <div class="text-center">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                    <form action="activate/" method="post">
                                        {% csrf_token %}
                                        {% if user.is_active %}
                                            <input class="btn btn-danger" type="submit" value="Deactivate Account">
                                        {% else %}
                                            <input class="btn btn-success" type="submit" value="Activate Account">
                                        {% endif %}
                                    </form>
                                {% elif request.user.pk == user.pk %}
                                    <a href="{% url 'update_profile' %}" class="btn btn-primary"
                                       type="button">Update</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container fade" id="recipes">
                {% if recipes %}
                    <div class="row my-3">
                        {% for recipe in recipes %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
                                <a class="card h-100 link-decoration-none" href="{% url 'recipe_detail' recipe.pk %}">
                                    {% if recipe.image %}
                                        <img src="{{ recipe.image.url }}" class="card-img-top img-fluid p-2" alt="">
                                    {% else %}
                                        <img src="{{ recipe.image_url|default:'/media/default.jpg' }}"
                                             class="card-img-top img-fluid p-2" alt="">
                                    {% endif %}
                                    <div class="card-body bg-light d-flex flex-column justify-content-between">
                                        <div>{{ recipe.recipe_name }}</div>
                                        <div class="mt-2">
                                            {% for s in 12345|make_list %}
                                                {% if forloop.counter <= recipe.score %}
                                                    <i class="fas fa-star fa-star-gold"></i>
                                                {% else %}
                                                    <i class="far fa-star fa-star-gold"></i>
                                                {% endif %}
                                            {% endfor %}
                                            <span class="text-danger">({{ recipe.review_number }})</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning mt-3">
                        This user hasn't had any recipes yet.
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane container fade" id="menus">
                {% if menus %}
                    <div class="row my-3">
                        {% for menu in menus %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
                                <a class="card h-100 link-decoration-none" href="{% url 'menu_detail' menu.pk %}">
                                    {% if menu.recipes.first.image %}
                                        <img src="{{ menu.recipes.first.image.url }}"
                                             class="card-img-top img-fluid p-2" alt="">
                                    {% else %}
                                        <img src="{{ menu.recipes.first.image_url|default:'/media/default.jpg' }}"
                                             class="card-img-top img-fluid p-2" alt="">
                                    {% endif %}
                                    <div class="card-body bg-light d-flex flex-column justify-content-between">
                                        <div>{{ menu.menu_name }}</div>
                                        <div class="mt-2">
                                            {% for s in 12345|make_list %}
                                                {% if forloop.counter <= menu.score %}
                                                    <i class="fas fa-star fa-star-gold"></i>
                                                {% else %}
                                                    <i class="far fa-star fa-star-gold"></i>
                                                {% endif %}
                                            {% endfor %}
                                            <span class="text-danger">({{ menu.review_number }})</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning mt-3">
                        This user hasn't had any menus yet.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}