#recipe-list {
    overflow-y: auto;
    height: 35vh;
}

.recipe-item {
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-result {
    overflow-y: auto;
    height: 55vh;
}

.btn-remove-recipe {
    background-color: transparent;
    border: 0;
    position: static;
    padding: 0 0.5rem 0 0;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0.5;
}