{% extends "admin/base.html" %}

{% load static %}

{% block sb_admin_title %}Quản lý tài khoản{% endblock sb_admin_title %}

{% block sb_admin_breadcrumb_active %}
<li class="breadcrumb-item active">Tài khoản</li>
{% endblock sb_admin_breadcrumb_active %}

{% block sb_admin_content %}
<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Tài khoản
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Tên đăng nhập</th>
            <th>Email</th>
            <th>Loại tài khoản</th>
            <th>Trạng thái tài khoản</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td><a href='#'>{{user.username}}</a></td>
            <td>{{user.email}}</td>
            <td>{{user.is_superuser|yesno:'Admin, Người dùng'}}</td>
            <td>{{user.is_active|yesno:'Mở, Khóa'}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock sb_admin_content %}