{% extends "base/auth.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="card-body">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div>{{ form.errors }}</div>
            </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control"
                       id="input-username" name="username"
                       required placeholder="Username">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <input type="email" class="form-control"
                       id="input-email" name="email"
                       required placeholder="Email">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
                <input type="password" class="form-control"
                       id="input-password" name="password1"
                       required placeholder="Password">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
                <input type="password" class="form-control"
                       id="input-password" name="password2"
                       required placeholder="Re-enter password">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input type="text" class="form-control"
                       id="input-first-name" name="first_name"
                       required placeholder="First name">
                <input type="text" class="form-control"
                       id="input-last-name" name="last_name"
                       required placeholder="Last name">
            </div>
            <hr>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="input-agreement">
                    <label for="input-agreement" class="form-check-label text-break">
                        I have read and accepted <a href="/">Food Delicious</a>'s <a href="#">Terms of Service</a>, and <a href="#">Privacy Policy.</a>
                    </label>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock %}