{% extends "base/default.html" %}

{% load static %}

{% block title %}Recipe{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/recipe/list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if search %}
            <div id="filter-div" class="p-2">
                <form action="" class="row">
                    <input type="hidden" name="search" value="{{ request.GET.search }}">
                    <div class="col-12 col-sm-3 my-2 input-group">
                        <div class="input-group-prepend">
                            <label for="min-calories" class="input-group-text">Min</label>
                        </div>
                        <input type="number" name="min" value="0"
                               id="min-calories" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">kcal</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 my-2 input-group">
                        <div class="input-group-prepend">
                            <label for="max-calories" class="input-group-text">Max</label>
                        </div>
                        <input type="number" name="max" value="2000"
                               id="max-calories" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">kcal</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 my-2">
                        <select name="sort" id="order-picker" class="form-control">
                            <option value="popular">Most Popular</option>
                            <option value="latest">Latest Recipes</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-3 my-2 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
            <hr>
        {% endif %}
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
                    <a class="card h-100 link-decoration-none" href="{% url 'recipe_detail' recipe.pk %}">
                        <img src="{% static 'image/lazy-image.svg' %}" alt=""
                             class="card-img-top img-fluid p-2" loading="lazy">
                        {% if recipe.image %}
                            <input type="hidden" class="lazy-image-input" value="{{ recipe.image.url }}">
                        {% else %}
                            <input type="hidden" class="lazy-image-input"
                                   value="{{ recipe.image_url|default:'/media/default.jpg' }}">
                        {% endif %}
                        <div class="card-body bg-light d-flex flex-column justify-content-between">
                            <div>{{ recipe.recipe_name }}</div>
                            <div class="mt-2">
                                {% for s in 12345|make_list %}
                                    {% if forloop.counter <= recipe.score %}
                                        <i class="fas fa-star fa-star-gold"></i>
                                    {% else %}
                                        <i class="far fa-star fa-star-gold"></i>
                                    {% endif %}
                                {% endfor %}
                                <span class="text-danger">({{ recipe.review_number }})</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if page_obj %}
            <div class="my-4">
                <div class="pagination d-flex justify-content-center">
                    {% if page_obj.prev_page %}
                        <a class="btn btn-primary" id="prev-page"
                           href="{{ page_obj.prev_page }}">previous</a>
                    {% endif %}

                    <button class="btn btn-secondary mx-4" disabled>
                        Page {{ page_obj.current_page }}
                    </button>

                    {% if page_obj.next_page %}
                        <a class="btn btn-primary" id="next-page"
                           href="{{ page_obj.next_page }}">next</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/recipe/list.js' %}"></script>
{% endblock %}