{% extends 'base/base.html' %}
{% block title %}
    Tạo Menu
{% endblock title %}
{% block app_name %}
    Home
{% endblock app_name %}
{% block content %}
    {% comment %} script {% endcomment %}
    {% load static %}
        <script src="{% static 'js/menu_index.js' %}" defer></script>
        
    <div class="container-fluid" style="height:750px">
        <div class="row" style="background-color: transparent; height: 100%; width: 100%">
            
        </div>
    </div>
{% endblock content %}

    