{% extends "base/default.html" %}

{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for menu in page_obj.object_list %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
                    <a class="card h-100 link-decoration-none" href="{% url 'menu_detail' menu.pk %}">
                        {% if menu.recipes.first.image %}
                            <img src="{{ menu.recipes.first.image.url }}" class="card-img-top img-fluid p-2" alt="">
                        {% else %}
                            <img src="{{ menu.recipes.first.image_url|default:'/media/default.jpg' }}"
                                 class="card-img-top img-fluid p-2" alt="">
                        {% endif %}

                        <div class="card-body bg-light d-flex flex-column justify-content-between">
                            <div>{{ menu.menu_name }}</div>
                            <div class="mt-2">
                                {% for s in 12345|make_list %}
                                    {% if forloop.counter <= menu.score %}
                                        <i class="fas fa-star fa-star-gold"></i>
                                    {% else %}
                                        <i class="far fa-star fa-star-gold"></i>
                                    {% endif %}
                                {% endfor %}
                                <span class="text-danger">({{ menu.review_number }})</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if page_obj %}
            <div class="my-4">
                <div class="pagination d-flex justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary"
                       href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a class="btn btn-primary"
                       href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
