{% extends "base/base.html" %}

{% block title %}Dish{% endblock %}

{% block content %}
<div class="row m-3 mt-5 d-flex justify-content-center">
    <h2 class="text-uppercase">{{object.dish_name}}</h2>
</div>
<div class="row m-3">
    <table class="table table-hover">
        <tr>
            <th>Người sở hữu:</th>
            <td>{{object.user}}</td>
        </tr>
        <tr>
            <th>Mô tả:</th>
            <td>{{object.description}}</td>
        </tr>
        <tr>
            <th>Lượng calories:</th>
            <td>{{object.calories}} kcal</td>
        </tr>
        <tr>
            <th>Trạng thái:</th>
            <td>{{object.is_public|yesno:"Công khai, Riêng tư"}}</td>
        </tr>
        <tr>
            <th>Thành phần:</th>
            <td>{{object.ingredients|join:", "}}</td>
        </tr>
        <tr>
            <th>Đánh giá</th>
            <td><span class="mr-2">5</span><i class="fas fa-star"></i></td>
        </tr>
    </table>
</div>

<div class="row m-3 d-flex justify-content-center">
    <a type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#form">Đánh giá</a>
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="card-body text-center">
                    <div class="text-center">
                        <h4>Thêm đánh giá cho món ăn</h4>
                        <div class="mb-2">
                            <input type="number" min="1" max="5" step="1" value="5" id="rating">
                            <label for="rating">
                                <i class="fas fa-star"></i>
                            </label>
                        </div>
                        <div class="comment-area">
                            <label>
                                <textarea class="form-control" placeholder="Thêm bình luận" rows="4"></textarea>
                            </label>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-success">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-primary m-2">Chỉnh sửa</a>
    <a type="button" class="btn btn-danger m-2">Xóa</a>
</div>

<div class="row d-flex justify-content-center mb-5">
    <div class="panel panel-default w-75">
        <div class="panel-heading">
            <h3 class="panel-title">Đánh giá bởi người dùng</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <a href="#">Username</a>
                        <div>
                            <span>5</span>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="comment-text">
                            <span>Good!!!</span>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><i class="fas fa-sync fa-spin"></i>
                Xem thêm</a>
        </div>
    </div>
</div>
{% endblock %}