{% extends "base.html" %}

{% load static %}

{% block title %}Dishes{% endblock %}

{% block username %} Abc123 {% endblock %}

{% block dropdown_user %}
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Thông tin
        </a>
        <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
        </a>
        <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Đăng xuất
        </a>
    </div>
{% endblock %}

{% block content %}
    {% for dish in dishes %}
        <div class="card shadow mb-4 ml-4 mr-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample{{ dish.pk }}" class="d-block card-header py-3" data-toggle="collapse"
               role="button"
               aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">{{ dish.dish_name }}</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample{{ dish.pk }}">
                <div class="card-body">
                    {{ dish.description }}
                    <br/>
                    <a href="{% url 'dish_view' dish.pk %}">Xem chi tiết</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}