{% extends "base/default.html" %}

{% block title %}Recipe{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-5"><h2 class="text-center">Update recipe</h2></div>
        {% if form %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <div>{{ field.label_tag }} {{ field.errors }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form class="m-5" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_recipe_name" class="col-sm-2 col-form-label">Recipe name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_recipe_name" name="recipe_name"
                           value="{{ form.recipe_name.value }}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_description" class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_description" name="description"
                           value="{{ form.description.value }}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_calories" class="col-sm-2 col-form-label">Calories (kcal):</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="id_calories" name="calories"
                           value="{{ form.calories.value }}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_ingredients" class="col-sm-2 col-form-label">Ingredients:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_ingredients" name="ingredients"
                           value="{{ form.ingredients.value }}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_image" class="col-sm-2 col-form-label">Images:</label>
                <input type="file" class="form-control-file col-sm-10" id="id_image" name="image"
                       value="{{ form.image.value }}">
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}